html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.home {
    background-color: #fffef1;
    padding: 0 10vw;
}

.karlmolina {
    box-sizing: border-box;
    color: #1A936F;
    word-wrap: break-word;
    margin-top: 0.8em;
    font-size: 13vmin;
    letter-spacing: -0.055em;
    font-family: 'Questrial', sans-serif;
    border-bottom: 0.05em solid #03B5AA;
    margin-bottom: .2em;
    font-weight: 400;
}

.sketch-list {
    list-style: none;
    font-family: 'Barlow', sans-serif;
    text-align: left;
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    .sketch-list {
        font-size: 5vw;
    }
}

@media screen and (max-width: 300px) {
    .sketch-list {
        font-size: 0.95em;
    }
}

.sketch-link {
    text-decoration: none;
    color: #114B5F;
    line-height: 90%;
    padding: 0.25em 0;
    display: block;
}

.sketch-link:hover {
    background-color: rgba(42, 158, 114, 0.15);

}

.sketch-link:active {
    background-color: rgba(42, 158, 114, 0.12);
}

canvas {
    width: 100% !important;
    height: 100% !important;
}
